* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    ul {
        display: flex;
        gap: 20px;

        a {
            font-size: 18px;
            color: aliceblue;
        }

    }
}

.LOGO {
    font-size: 20px;
    color: white;

}

nav {
    background: dodgerblue;
}

.header_content {

    max-width: 686px;

    h5 {
        color: #23A6F0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-size: 58px;
        width: 542px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    p {
        max-width: 536px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }

}

.sec_content{
    margin-top: 100px;

    p{
        color: aquamarine;

    }
    
    h2{
        color:aqua ;
    }

}